# SPDX-FileCopyrightText: (c) 2021 Jeff C. Jensen
# SPDX-License-Identifier: MIT
#
# Modifications Copyright (c) 2024 Xronos Inc.
# SPDX-License-Identifier: BSD-3-Clause
#
# This file contains portions from Jeff C. Jensen under MIT 
# and modifications by Xronos Inc. under BSD-3-Clause.
---
- name: Create directory .docker/
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.docker"
    state: directory

- name: Touch config.json
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.docker/config.json"
    state: touch
    modification_time: preserve
    access_time: preserve

- name: Load config.json
  ansible.builtin.slurp:
    src: "{{ ansible_env.HOME }}/.docker/config.json"
  register: docker_config_original

- name: Set fact docker_config_original
  ansible.builtin.set_fact:
    docker_config_original: "{{ (docker_config_original['content'] | length > 0)
      | ternary(docker_config_original.content | b64decode, '{}') | from_json }}"

- name: Append docker auth to config.json
  ansible.builtin.set_fact:
    docker_config_updated: "{{ docker_config_original | combine(
        {
          'auths': {
            docker_auth_registry: {
              'auth': docker_auth
            }
          }
        } )}}"

- name: Write config.json
  ansible.builtin.copy: 
    content: "{{ docker_config_updated | to_nice_json }}" 
    dest: "{{ ansible_env.HOME }}/.docker/config.json"
    backup: true
    force: true 
  become: true
  when: docker_config_updated != docker_config_original
