# SPDX-FileCopyrightText: © 2021 Jeff C. Jensen
# SPDX-License-Identifier: MIT
#
# Modifications Copyright © 2024 Xronos Inc.
# SPDX-License-Identifier: BSD-3-Clause
#
# This file contains portions from Jeff C. Jensen under MIT 
# and modifications by Xronos Inc. under BSD-3-Clause.
---
- name: Create .docker folder
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.docker"
    state: directory

- name: Docker check for running builder {{ docker_multiarch_containerd_builder_name }}
  ansible.builtin.shell: "docker buildx inspect {{ docker_multiarch_containerd_builder_name }} | grep running"
  changed_when: false
  failed_when: false
  ignore_errors: true
  register: multiarch_running

- name: Docker remove orphaned builder {{ docker_multiarch_containerd_builder_name }}
  ansible.builtin.shell: "docker buildx rm --force {{ docker_multiarch_containerd_builder_name }}"
  register: result
  changed_when: result.rc == 0
  failed_when: false
  ignore_errors: true
  when: multiarch_running.rc != 0

- name: Docker create builder {{ docker_multiarch_containerd_builder_name }}
  ansible.builtin.command:
    cmd: >
      docker buildx create
        --name {{ docker_multiarch_containerd_builder_name }}
        --use
        --driver docker-container
        --bootstrap
  when: multiarch_running.rc != 0

- name: Docker inspect builder {{ docker_multiarch_containerd_builder_name }}
  ansible.builtin.shell: "docker buildx inspect {{ docker_multiarch_containerd_builder_name }} | grep running"
  changed_when: false
  when: multiarch_running.rc != 0