# SPDX-FileCopyrightText: © 2021 Jeff C. Jensen
# SPDX-License-Identifier: MIT
#
# Modifications Copyright © 2024 Xronos Inc.
# SPDX-License-Identifier: BSD-3-Clause
#
# This file contains portions from Jeff C. Jensen under MIT 
# and modifications by Xronos Inc. under BSD-3-Clause.
---
- name: Touch daemon.json
  ansible.builtin.file:
    path: /etc/docker/daemon.json
    state: touch
    modification_time: preserve
    access_time: preserve
  become: true

- name: Load daemon.json
  ansible.builtin.slurp:
    src: /etc/docker/daemon.json
  register: docker_daemon_original

- name: Set fact docker_daemon_original
  ansible.builtin.set_fact:
    docker_daemon_original: "{{ (docker_daemon_original['content'] | length > 0)
      | ternary(docker_daemon_original.content | b64decode, '{}') | from_json }}"

- name: Append containerd-snapshotter to daemon configuration
  ansible.builtin.set_fact:
    docker_daemon_updated: "{{ docker_daemon_original | combine(
        {
          'features':
            {
              'containerd-snapshotter': true
            }
        } )}}"

- name: Write daemon.json
  ansible.builtin.copy: 
    content: "{{ docker_daemon_updated | to_nice_json }}" 
    dest: /etc/docker/daemon.json
    backup: true
    force: true 
  become: true
  when: docker_daemon_updated != docker_daemon_original
  register: daemon_file

- name: Restart docker service to apply new daemon configuration
  ansible.builtin.service:
    name: docker
    state: "{{ daemon_file.changed | ternary('restarted', 'started') }}"
  become: true
  