---
- name: apt update cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600 # 1 hr
  become: true

- name: Install docker engine
  ansible.builtin.import_tasks: docker-ce.yml



- name: Configure docker for multiarch building
  when: docker_multiarch
  block:
  - name: Install and configure qemu
    ansible.builtin.include_tasks: qemu.yml

  - name: Configure docker daemon for containerd-snapshotter
    ansible.builtin.include_tasks: containerd-daemon.yml
    when: docker_multiarch_containerd_snapshot
    
  - name: Configure docker buildx builder
    ansible.builtin.include_tasks: containerd-builder.yml
    when: docker_multiarch_containerd_snapshot

- name: Configure docker authentication
  ansible.builtin.include_tasks: auth.yml
  when: docker_auth != ""

- name: docker prune
  community.docker.docker_prune:
    builder_cache: true
    containers: true
    images: true
    networks: true
    volumes: true
  when: docker_prune
  become: true  # allows pruning even if ansible_user
                # is not yet a member of docker group
